<!-- start: INLINE EDIT EXAMPLE -->
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <h5 class="over-title margin-bottom-15">Add  <span class="text-bold">Appointment</span></h5>
                    <!-- /// controller:  'ngTableCtrl6' -  localtion: assets/js/controllers/ngTableCtrl.js /// -->
                    <div ng-controller="addappointmentCtrl">
                        <form class="form-inline">
                            <input ng-model="query" type="text"
                                   placeholder="Filter by" autofocus>
                        </form>
                        <div class="row margin-bottom-10">
                            <div class="col-md-12">
                                <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">
                                    Clear sorting
                                </button>
                            </div>
                        </div>
                        
                        <div class="table-responsive">
                            <table ng-table="tableParams" class="table">
                                <tbody ng-repeat="p in $data | filter:query">
                                    <tr id="tr{{p.id}}" ng-class-odd="'odd'" ng-class-even="'even'">
                                        <td class="rowTd" data-title="'First Name'" sortable="'first_name'">{{p.first_name}}</td>
                                        <td class="rowTd" data-title="'Last Name'" sortable="'last_name'">{{p.last_name}}</td> 
                                        <td class="rowTd" data-title="'Address'" sortable="'address'">{{p.address}}</td>

                                        <td class="rowTd" data-title="'City'" sortable="'city'">{{p.city}}</td>
                                        <td class="rowTd" data-title="'State'" sortable="'state'">{{p.state}}</td>

                                        <td class="rowTd" data-title="'Country'" sortable="'country'">{{p.country}}</td>
                                        <td class="rowTd" data-title="'Phone Number'" sortable="'phone'">{{p.phone}}</td>
                                        <td class="rowTd" data-title="'Date of Birth'" sortable="'date_of_birth'">{{p.date_of_birth}}</td>
                                        <td class="rowTd" data-title="'Associate to a Doctor'" sortable="'doctor'">{{p.doctor}}</td>
                                        <td class="rowTd">
                                            <div class="pull-right margin-right-10">
                                                <input type=button class="btn btn-primary btn-o btn-sm" id="editRowBtn{{p.id}}" value="edit"
                                                       ng-click="openmodelappoinment(p.id)">
                                            </div>
                                        </td>                    
                                    </tr>
                                </tbody>
                            </table>

                            <script type="text/ng-template" id="myModalContentappoinmnent.html" data-backdrop="static">
                                <div class="modal-header">
                                    <h3>Edit Patient</h3>
                                </div>
                                <div class="modal-body" ng-show="showLoader">
                                    <img src="assets/images/default.gif" style=" margin: 0px 0px 0px 280px"> 
                                </div>
                                <div class="modal-body" ng-show="showform">

                                    <form role="form" autocomplete="false">
                                        <div class="form-group">
                                            <label for="form-field-select-1">
                                                Visit Type
                                            </label>
                                            <span class="clip-select">
                                                <select id="form-field-select-1" class="form-control" ng-model="visit_type">
                                                    <option value="">&nbsp;</option>
                                                    <option value="AL">New Patient</option>
                                                    <option value="AK">Follow up</option>
                                                </select>
                                            </span>
                                        </div>
                                        
                                        <div class="form-group">
                                            <input type="text" placeholder="Patient Name" class="form-control underline input-lg" ng-model="patient_name">
                                        </div>
                                        <div class="form-group">
                                            <input type="date" placeholder="Date Of Birth" class="form-control underline input-lg" ng-model="dobirth">
                                        </div>
                                        <div class="form-group">
                                            <input type="date" placeholder="Date Of Schedule" class="form-control underline input-lg" ng-model="doschedule">
                                        </div>
                                        
                                    </form>
                                </div>
                                    
                                <div class="modal-footer">
                                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                                    <button class="btn btn-primary btn-o" ng-click="cancel()">Cancel</button>
                                </div>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: INLINE EDIT EXAMPLE -->



































<!-- <div class="container-fluid container-fullw" ng-controller="addappointmentCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="panel panel-white no-radius">
                                <div class="panel-heading">
                                    <h5 class="panel-title">Add Appointment</h5>
                                </div>
                                <div class="panel-body">
                                    <form role="form">
                                        <div class="form-group">
                                            <label for="form-field-select-1">
                                                Visit Type
                                            </label>
                                            <span class="clip-select">
                                                <select id="form-field-select-1" class="form-control" ng-model="visit_type">
                                                    <option value="">&nbsp;</option>
                                                    <option value="AL">New Patient</option>
                                                    <option value="AK">Follow up</option>
                                                </select>
                                            </span>
                                        </div>
                                        
                                        <div class="form-group">
                                            <input type="text" placeholder="Patient Name" class="form-control underline input-lg" ng-model="patient_name">
                                        </div>
                                        <div class="form-group">
                                            <input type="date" placeholder="Date Of Birth" class="form-control underline input-lg" ng-model="dobirth">
                                        </div>
                                        <div class="form-group">
                                            <input type="date" placeholder="Date Of Schedule" class="form-control underline input-lg" ng-model="doschedule">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" ng-click="submit()" class="btn btn-wide btn-o btn-primary">
                                                Submit
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- end: ALTERNATIVE EXAMPLE -->


